body, html, a, h1, h2, h3, p, div, img, ul, li{
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  color: #42403f;

}
body{
  background-color: #faf8f5;
}
.logo{
  width: 100px;
  margin: 30px;
}
.video-index{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.video-index-item{
  display: flex;
  flex-direction: column;

  max-height: 400px;
  width: 350px;
  margin: 30px;
  border-radius: 3px;

  -webkit-box-shadow: 10px 10px 110px -32px rgba(0,0,0,0.32);
  -moz-box-shadow: 10px 10px 110px -32px rgba(0,0,0,0.32);
  box-shadow: 10px 10px 110px -32px rgba(0,0,0,0.32);
}

div.clickable:hover{
  -webkit-box-shadow: 10px 10px 66px -6px rgba(0,0,0,0.45);
-moz-box-shadow: 10px 10px 66px -6px rgba(0,0,0,0.45);
box-shadow: 10px 10px 66px -6px rgba(0,0,0,0.45);
}

.video-index-item > h2, .date, .description{
  margin: 5px;
  text-align: center;

}

.date{
  color: gray;
  font-style: italic;
  font-size: 14px;
}
.description{
  font-size: 15px;
  text-align: justify;
  padding: 0 20px 20px 20px;

}
.video-index-item > .thumbnail {
  margin: 0;
  width: 350px;
  max-height: 300px;
  overflow: hidden;
}
.thumbnail >  img{
  max-width: 350px;

}
.video-show{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fcfcfc;
  padding: 30px;
}
.video-show *{
  margin: auto;
  text-align: center;
}

.video-show > .date{
  font-size: 16px;
  margin: 10px;
}
.video-show >.description{
  font-size: 16px;
  width: 50%;

}
.video-show > img{
  max-width: 600px;
  margin: 0 auto;
}

.emotions-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin-top: 30px;
}
.emotion {
  width: 100px;
}


.emoji{
  width: 50px;
}
.emoji-title, .votes{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: gray;
}

.clickable{
  cursor:pointer;
}
.loader,
.loader:before,
.loader:after {
  background: gray;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: gray;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
